.state-dropdown {
  position: relative;
  border: none;
}
.state-dropdown button {
  background: gray;
  height: 50px;
  width: 250px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.panel {
  position: absolute;
  margin-top: 5px;
  background: grey;
  padding-top: 5px;
  color: whitesmoke;
  display: grid;
  font-size: 16px;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 2%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 300px;
  column-gap: 10px;
}
.panel-items {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 10px;
}

.selected {
  background: darkslategrey;
}
